* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    background-color: #fff;
    color: #666;
}

.container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 20px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

h2 {
    font-size: 48px;
    font-weight: 800;
    text-align: center;
    margin-bottom: 30px;
    color: #000;
}

h3 {
    font-weight: 600;
    font-size: 42px;
    color: #000;
    margin-bottom: 20px;
}

.btn {
    font-size: 20px;
    font-weight: 500;
    padding: 10px 20px;

    background: transparent;
    border: 1px solid #000;
    border-radius: 100px;
}

.btn__appeal {
    cursor: pointer;
    display: block;
    background-color: #1571FC;
    padding: 15px 30px;
    font-weight: 700;
    font-size: 24px;
    color: #fff;
    border: none;
    width: fit-content;
    margin: 0 auto;
}

/* HEADER */

.header {
    padding: 20px 0 60px 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 80px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 15px;
    color: #000;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Jost', sans-serif;
}

.nav__items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    color: #222;
}

h1{
    font-size: 80px;
    font-weight: 800;
    font-family: 'Jost', sans-serif;
    line-height: 100px;
    text-align: center;
    color: #000;
}

.words {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.word {
    position: absolute;
    font-size: 20px;
}

.word__1 {
    top: 40%;
    left: 0;
}
.word__2 {
    top: 15%;
    right: 0;
}
.word__3 {
    top: 40%;
    right: 0;
}
.word__4 {
    bottom: 5%;
    right: 0;
}

.appeal {
    display: flex;
    flex-direction: column;
    align-items: center;
}




/* ABOUT */

.about {
    background: #F5F5F5;
    padding: 30px 0 60px 0;
}

.about__top {
    position: relative;
    background-color: #FFE6B8;
    border-radius: 30px;
    padding-top: 50px;
    text-align: center;
}

.about__item {
    position: absolute;
    padding: 20px 30px;
    padding-top: 40px;
    background-color: #fff;
    color: #680706;
    border-radius: 10px;
    background-repeat: no-repeat;
    background-position-y: 15px;
    background-position-x: center;
}

.about__item--1 {
    background-image: url("/img/icons/check.png");
    top: 20%;
    left: 20%;
}
.about__item--2 {
    background-image: url("/img/icons/peoples.png");
    top: 10%;
    right: 20%;
}

.about__item--3 {
    background-image: url("/img/icons/smile.png");
    top: 80%;
    left: 20%;
}

.about__item--4 {
    background-image: url("/img/icons/heart.png");
    top: 70%;
    right: 20%;
}

.about__item--span {
    font-weight: 700;
}


.about__bottom {
    padding: 45px 15%;
    text-align: center;
    background-color: #fff;
    font-size: 20px;
    color: #666;
    border-radius: 30px;
}

.about__deck {
    margin-bottom: 20px;
}





/* FOOTER */

footer {
    background: #1B1B29;
    padding: 20px;
}

footer h2 {
    color: #fff;
}

.footer__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 80px;
}

.footer__links {
    flex: 1;
    color: #fff;
    font-size: 36px;
    font-family: 'Jost', sans-serif;
}

.footer__form {
    flex: 1;
    padding: 55px 50px;
    background-color: #fff;
    border-radius: 30px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 20px;
    font-weight: 500;
}

input {
    border-radius: 30px;
    height: 60px;
    border: 1px solid #ccc;
    outline: none;
    font-size: 20px;
    padding: 5px 25px;
}

.footer__bottom {
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}

.footer__socials {
    display: flex;
    gap: 20px;
}

.footer__social a {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.footer__address {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}